.App {
  text-align: center;
  background-color: #8693ad;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border-bottom: black solid 1px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.simulation {
  color: white;
  background-color: #70b9c2;
  padding: 15px;
  width: 45vw;
  height: 85vh;
  margin: 0 auto;
}

.simulation * {
  margin-top: 0;
  margin-bottom: -8px;
}

.input-block {
  height: 4vh;
  color: white
}